<div class="welcomediv">
<h1 class="storeh1">Welcome</h1>
<p>This is a stores website where you can view details about the store.</p>

<%= link_to '<button type="button" class="button" >View Stores</button>'.html_safe, stores_path %>
</div>

