// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding:0;margin:0;
	background-color:#74AFAD;
	
}



	.storediv{
	text-align:center;
	background-color:#74AFAD;
	}
	
	.storeh1{
	font-size:1.5em;
	text-align:center;
	color: #C63D0F;
	}
	
	.storetable{
	//	margin:50px auto 0; 
		border-collapse: collapse;
		width:50px;
		margin-left: 2cm;
		
	}
	
	.storetable th,td{
		padding:10px;
	//	width:20px;
		 border: 1px solid black;
	}
	
	.storetable th{
 	background-color:#C63D0F ;
    color: white;
	}
	
	.storetable	tr:nth-child(odd){
	background-color:#eee;
	 }
	

	.storetable tr:nth-child(even){
	background-color:#A2AB58; 
	}
	
	
	
	.storeshowdiv{
	width:500px;
	margin: 30px auto 0;
	}
	

	
	#notice{
	color:red;
	}

	label.thicker{
		font-weight:bold;
	}
	
	
	
	label{
  width: 6em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}
	
	
	
	
label.required:after {
    content: " *";
    color: red;
}
	
	.welcomediv{
	
		text-align:center;
		width:400px;
		margin:15% auto 0;
	//	border: 1px solid #C63D0F;
		border-radius: 7px;
		padding:20px;
}







	.displaydiv2{

		text-align:center;
		width:400px;
		margin:5% auto 0;
		border-radius: 7px;

}


	.displaydiv3{

		text-align:center;
		width:500px;
		margin:10% auto 0;
		border-radius: 7px;

}




.button {
    background-color: #C63D0F;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width:8em;
    height:2em;
}


